.login-wrapper {
    display: flex;
    background: url(https://www.google.com/search?q=food+images&hl=en-GB&authuser=0&rlz=1C5CHFA_enGB841GB841&tbm=isch&source=iu&ictx=1&fir=d0t8iNA_A_DZDM%253A%252CK6pNbFjhdh5JOM%252C_&vet=1&usg=AI4_-kQVBh1f4I6L6tPJIX9cPHiavIPv0A&sa=X&sqi=2&ved=2ahUKEwi_9Kv0g6fhAhXHjVkKHWg8BOcQ9QEwAHoECAcQBA#imgdii=KK_bNZiIdggcGM:&imgrc=d0t8iNA_A_DZDM:&vet=1);
    background-size: 100%;
    background-position: 21rem 0;
    background-repeat: repeatd im;
}